#title {
color: orangered;
font-size: 64px;
}


.large-font {
    font-size: x-large;
    font-weight:900
}
.demand {
    font-variant-caps: petite-caps;
}
.funky-color{
    color:rgb(224, 74, 10);
}
.funky-color.large-font{
    background-color: violet;
}
ul > li {
    font-weight: 400;
    background-color: rgb(129, 105, 105);
}


h1,h2 {
    font-family: cursive;
    font-size: 2.0em;
    color:midnightblue
}
h1 em {
    color:darkred 

}
/* h3,h4 {
    font-family:fantasy;
    font-size: 1.25em;
    background-color:rgb(201, 77, 220)
} */
html {
    background-color:wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
