h1 {
    font-size: 2.25em;
    color:midnightblue
}

h2 {
    font-size: 2.0em;
    color:midnightblue
}
h3 {
    font-size: 1.75em;
    color:midnightblue
}
h4 {
    font-size: 1.5em;
    color:midnightblue
}
body {
    background-color:wheat;
}
p {
    font-size: 1.25em;
}
li {
    font-size: 1.25em;
}