h1 {
    color:midnightblue
}

h2 {
    color:midnightblue
}
h3 {
    color:midnightblue
}
h4 {
    color:midnightblue
}
img.resize {
    width:540px;
    height: auto;
}
body {
    background-color:wheat;
}